@{
    ViewData["Title"] = "Statistics";
}

<style>
    .hide {
        display: none;
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    .modal {
        background: none;
    }
</style>

@Scripts.Render("~/bundles/js/SatcomStats")

<div class="container hide" id="iframe-temp"></div>
<h2>Select a product type and a model name:</h2>
<div class="container row" id="main-data">
    <div class="alert alert-danger hide fade in" id="selection-failed">
        <strong>Error:</strong> Select a product type and model name first.
    </div>

    <div class="alert alert-danger hide fade in" id="download-failed">
        <strong>Error:</strong> Cannot generate report when data not found.
    </div>

    <div class="alert alert-danger hide fade in" id="invalid-url">
        <strong>Error:</strong> Invalid URL, you are being redirected.
    </div>

    <div class="alert alert-info hide fade in" id="excel-loading">
        <strong>Preparing Excel file...</strong>
    </div>

    <form action="">
        <div class="col-sm-3">
            <select class="form-control" id="productTypes" name="productTypes" onchange="getModelNames(this.value);"></select>
        </div>

        <div class="col-sm-3">
            <select class="form-control" id="models" name="models" onchange="getTable(productTypes.value, this.value)"></select>
        </div>

        <div class="col-sm-3">
            <input type="button" class="form-control btn btn-primary" id="results" name="resultsbtn" onclick="viewResults(productTypes.value, models.value)" value="View full record of test results" />
        </div>

        <div class="col-sm-3">
            <input type="button" class="form-control btn btn-success" id="dlxlsx" name="dlbtn" onclick="getxlsxfile(productTypes.value, models.value)" value="Download as Excel file (.xlsx)" />
        </div>
    </form>
</div>

<div class="container hide" id="data-display">
    <hr />

    <div class="alert alert-danger hide fade in" id="getdata-failed">
        <strong>Error:</strong> Failed to get data from server.
    </div>

    <div class="alert alert-info hide fade in" id="getdata-loading">
        <strong style="vertical-align:middle">Loading...</strong>
    </div>

    <table class="table table-striped hide" id="data-table"></table>
</div>

<script>
    setupIndex();

    //Set navbar button as active
    document.getElementById("statspage").classList.add("active");
</script>  