@{
    ViewData["Title"] = "Statistics";
}

<style>
    .hide {
        display: none;
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    .modal {
        background: none;
    }

    .modal-dialog {
        position: absolute;
        display: table; /* This is important */
        width: auto;
        max-width: 750px;
    }

    .modal-body {
        padding: 25px;
        line-height: 25px;
    }

    .modal.right.fade .modal-dialog {
        right: -25%;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.in .modal-dialog {
        right: 30px;
    }

    .modal.fade:not(.in) .modal-dialog {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
    }
</style>

@Scripts.Render("~/bundles/js/SatcomStats")

<div class="container hide" id="iframe-temp"></div>
<div class="page-header"><h1>ATE Test Statistics</h1></div>
<div class="display" style="margin-bottom: 20px"><h3>View overall test stats for a specific product.</h3></div>
<div class="row" id="main-data">
    <div class="alert alert-danger hide fade in" id="selection-failed">
        <strong>Error:</strong> Select a product type and model name first.
    </div>

    <div class="alert alert-danger hide fade in" id="download-failed">
        <strong>Error:</strong> Cannot generate report when data not found.
    </div>

    <div class="alert alert-danger hide fade in" id="invalid-url">
        <strong>Error:</strong> Invalid URL, you are being redirected.
    </div>

    <div class="alert alert-info hide fade in" id="excel-loading">
        <strong>Preparing Excel file...</strong>
    </div>

    <div class="alert alert-danger hide fade in" id="excel-failed">
        <strong>Error:</strong> Failed to generate Excel file.
    </div>

    <form action="">
        <div class="col-sm-4">
            <select class="form-control" id="productTypes" name="productTypes" onchange="getModelNames(this.value);"></select>
        </div>

        <div class="col-sm-4">
            <select class="form-control" id="models" name="models" onchange="getTable(productTypes.value, this.value)"></select>
        </div>

        <div class="col-sm-4">
            <input type="button" class="form-control btn btn-success" id="dlxlsx" name="dlbtn" onclick="getxlsxfile(productTypes.value, models.value)" value="Download as Excel file (.xlsx)" />
        </div>
    </form>
</div>

<div class=row hide" id="data-display">
    <hr />

    <div class="alert alert-danger hide fade in" id="getdata-failed">
        <strong>Error:</strong> Failed to get data from server.
    </div>

    <div class="alert alert-info hide fade in" id="getdata-loading">
        <strong style="vertical-align:middle">Loading...</strong>
    </div>

    <table class="table table-striped hide" id="data-table"></table>
</div>

<div class="modal right fade" id="allResultsModal" tabindex="-1" role="dialog" aria-labelledby="allResultsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="content-all-results">
                ...
            </div>
        </div>
    </div>
</div>

<script>
    setupIndex();

    sendStats();
    sendOutput(productTypes.value, models.value);
    sendResults(productTypes.value, models.value);

    //Set navbar button as active
    document.getElementById("navBarStats").classList.add("active");
</script>  