@model SatcomRfWebsite.Models.tblSerialNumbers

@{
    ViewBag.Title = "Delete";
}
    
@{
    <div class="row-fluid">
        <div class="container">
            <div class="row">
                <h1>Delete</h1>
            </div>
            <div class="row">
                <h3>Are you sure you want to delete this Serial Number?</h3>
            </div>
            <div class="row">
                <ul class="list-unstyled">
                    <li class='col-md-4' align='left'><b>Serial #</b></li>
                    <li class='col-md-4' align='left'><b>Model Name</b></li>
                    <li class='col-md-4' align='center'></li>
                </ul>
            </div>
            <div class="row">
                <ul class="list-unstyled">
                    <li class='col-md-4' align='left'>@Html.DisplayFor(model => model.ModelSN)</li>
                    <li class='col-md-4' align='left'>@Html.DisplayFor(model => model.ModelName)</li>
                    <li class='col-md-4' align='center'>
                        @using (Html.BeginForm())
                        {
                            <input type="submit" class="btn btn-danger" id="delete" value="Delete" /> @:|
                            <a href="javascript:history.back()">Back to List</a>
                            <script>
                                $("#delete").click(function () {
                                    $("#delete").attr("value", "Deleting...");
                                });
                            </script>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
}