
@{
    ViewBag.Title = "Details";
}

<style>
    thead {
        display: none;
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
        border-bottom: none;
    }

    td {
        min-width: 20px;
    }
</style>

@Scripts.Render("~/bundles/js/Calibration/Details")

<div class="page-header row">
    <div class="col-lg-6">
        <h1 id="header">Calibration Details</h1>
    </div>
    <div id="default-buttons" style="margin-top: 30px">
        <div class="col-lg-2">
            <btn class="btn btn-primary btn-block" id="index">Back to index</btn>
        </div>
        <div class="col-lg-2">
            <btn class="btn btn-info btn-block" id="edit">Edit</btn>
        </div>
        <div class="col-lg-2">
            <btn class="btn btn-danger btn-block" id="delete">Delete</btn>
        </div>
    </div>
    <div id="delete-buttons" style="margin-top: 30px; display: none">
        <div class="col-lg-2" style="font-size: 115%">
            <label id="confirm-message" style="margin-top: -10px">Do you really want to delete this record?</label>
        </div>
        <div class="col-lg-2">
            <btn class="btn btn-danger btn-block" id="confirm-delete">Confirm</btn>
        </div>
        <div class="col-lg-2">
            <btn class="btn btn-default btn-block" id="cancel-delete">Cancel</btn>
        </div>
    </div>
</div>

@if (Request.Url.ToString().Contains("Attenuator") || Request.Url.ToString().Contains("OutputCoupler"))
{
    <div class="row">
        <div class="col-lg-4">
            <h4><strong>Start Frequency:</strong> <span id="StartFreq"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Stop Frequency:</strong> <span id="StopFreq"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Number Of Points:</strong> <span id="Points"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4><strong>Loss:</strong> <span id="Loss"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Power:</strong> <span id="Power"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Max Offset:</strong> <span id="MaxOffset"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4><strong>Temperature:</strong> <span id="Temp"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Humidity:</strong> <span id="Humidity"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Lookback:</strong> <span id="Lookback"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4><strong>Operator:</strong> <span id="Operator"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Expire Date:</strong> <span id="ExpireDate"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4><strong>Date Added: </strong> <span id="AddedDate"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Edited By:</strong> <span id="EditedBy"></span></h4>
        </div>
    </div>
}

@if (Request.Url.ToString().Contains("PowerSensor"))
{
    <div class="row">
        <div class="col-lg-2">
            <h4><strong>Series:</strong> <span id="Series"></span></h4>
        </div>
        <div class="col-lg-3">
            <h4 class="text-center"><strong>Serial:</strong> <span id="Serial"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Reference Calibration:</strong> <span id="RefCal"></span></h4>
        </div>
        <div class="col-lg-3">
            <h4><strong>Certificate:</strong> <span id="Certificate"></span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <h4><strong>Operator:</strong> <span id="Operator"></span></h4>
        </div>
        <div class="col-lg-4">
            <h4><strong>Date Added:</strong> <span id="AddedDate"></span></h4>
        </div>
        <div class="col-lg-3">
            <h4><strong>Edited By:</strong> <span id="EditedBy"></span></h4>
        </div>
    </div>
}

<div class="row" id="records-display" hidden>
    <div class="col-lg-2" style="margin-top: 15px">
        <h4 style="line-height: 30px"><strong>Frequency:</strong> </h4>
        <h4 style="line-height: 30px"><strong>Calibration Factor:</strong> </h4>
        @if (!Request.Url.ToString().Contains("PowerSensor"))
        {
            <h4 style="line-height: 30px"><strong>Return Loss:</strong> </h4>
        }
    </div>
    <div class="col-lg-10">
        <table class="table pull-left" id="records" style="margin-top: 12px; display: none">
            <thead><tr><th></th></tr></thead>
            <tbody>
                <tr id="freqs"><td>&emsp;</td></tr>
                <tr id="calFactor"><td>&emsp;</td></tr>
                @if (!Request.Url.ToString().Contains("PowerSensor"))
                {
                    <tr id="returnLoss"><td>&emsp;</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
