
@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://terrylinooo.github.io/jquery.disableAutoFill/assets/js/jquery.disableAutoFill.min.js"></script>
@Scripts.Render("~/bundles/js/Calibration/Edit")

<div class="page-header" style="border-bottom: none; margin-bottom: -15px">
    <div class="row">
        <div class="col-lg-8">
            <h1 id="title">Edit...</h1>
        </div>
        <div class="col-lg-2" style="margin-top: 25px">
            <button class="btn btn-warning btn-block" id="reset">Reset changes</button>
        </div>
        <div class="col-lg-2" style="margin-top: 25px">
            <button class="btn btn-primary btn-block" id="details">Back to details</button>
        </div>
    </div>
</div>

<div class="alert alert-warning" id="assetnum-not-recognized" style="margin: 10px 0 0 0" hidden>
    <strong>Asset number not recognized!</strong>
    By submitting this form, you will be creating a new asset number record in the database.
    Please use proper naming conventions and letter casing.
</div>

<div class="alert alert-danger" id="validation-message" style="margin: 10px 0 0 0" hidden></div>

@using (Html.BeginForm())
{
    <div id="params" hidden>
        <input type="text" class="form-control" id="TypePassed" name="TypePassed" />
        <input type="text" class="form-control" id="AssetNumberPassed" name="AssetNumberPassed" />
        <input type="text" class="form-control" id="DatePassed" name="DatePassed" />
    </div>

    if (Request.Url.ToString().Contains("Attenuator"))
    {
        @Html.Partial("ATCalForm")
    }

    if (Request.Url.ToString().Contains("OutputCoupler"))
    {
        @Html.Partial("OCCalForm")
    }

    if (Request.Url.ToString().Contains("PowerSensor"))
    {
        @Html.Partial("PSCalForm")
    }
}