
@{
    ViewBag.Title = "Calibration";
}

<style>
    #data-display, #data-table {
        width: 100%;
        max-height: 500px;
        overflow-x: auto;
    }

    th, td {
        text-align: center;
        white-space: nowrap;
    }

    table th:nth-child(n), td:nth-child(n) {
        border-left: 1px solid lightgrey;
    }

    table th:first-child, td:first-child {
        border: none;
    }
</style>

@Scripts.Render("~/bundles/js/Calibration/Index")

<div class="page-header row"><div class="col-lg-12"><h1>Calibration Data Overview</h1></div></div>
<div class="row">
    <div class="col-md-4" style="margin-top: -20px">
        <div class="display">
            <h3>View calibration data with history.</h3>
        </div>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="cal-type" onchange="calType(this.value)">
            <option value="default">Select a device type</option>
            <option value="Attenuator" @(Request.Url.ToString().Contains("Attenuator") ? "selected" : "" )>Attenuator</option>
            <option value="Output Coupler" @(Request.Url.ToString().Contains("OutputCoupler") ? "selected" : "" )>Output Coupler</option>
            <option value="Power Sensor" @(Request.Url.ToString().Contains("PowerSensor") ? "selected" : "" )>Power Sensor</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="asset-numbers" onchange="assetNum(this.value)"></select>
    </div>
    <div class="col-md-2">
        <a class="form-control btn btn-primary" id="create" onclick="create($('#cal-type').val())">Submit new record</a>
    </div>
</div>

<hr id="separator" />

<div id="data-display"></div>