<style>
    body {
        padding-top: 70px;
    }

    .divider-vertical {
        height: 50px; /* any height */
        border-left: 1px solid #E7E7E7; /* right or left is the same */
        float: left; /* so BS grid doesn't break */
    }

    #navBarCalibration {
        margin-right: -30px;
    }

    #brand-logo {
        display: none;
    }

    #brand-logo img {
        width: 20px;
        height: 20px;
    }

    @@media(max-width: 800px) {
        #brand-text {
            display: none;
        }

        #brand-logo {
            display: block;
        }
    }

    @@media(max-width: 767px) {
        #brand-text {
            display: block;
        }

        #brand-logo {
            display: none;
        }

        #navBarCalibration {
            margin-right: 0;
        }
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="~/"><span id="brand-text">Satcom RF DataBase</span><span id="brand-logo"><img src="~/Content/Images/favicon.ico"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>
            <li id="navBarHome"><a href="~/">Home</a></li>
            <li class="divider-vertical"></li>
            <li id="navBarStats"><a href="~/SatcomStatsPage">Statistics</a></li>
            <li id="navBarAteOutput"><a href="~/ateData/AteOutput">ATE Output</a></li>
            <li id="navBarTests"><a href="~/testsData/TestResults">Test Results</a></li>
            <li class="divider-vertical"></li>
            <li id="navBarSerial"><a href="~/serialnumbers?beginning=A&findby=serial">Serial Numbers</a></li>
            <li class="divider-vertical"></li>
            <li id="navBarCalibration"><a href="~/Calibration/Create">Calibration</a></li>
        </ul>
        <div id="absolute-base-url" hidden>@Url.Action("", "", null, Request.Url.Scheme)</div>
      <!--<form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>